@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fafcfb;
}

.main {
    margin: 0 8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    color: #335ee9;
}

.menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #777c82;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #335ee9;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    gap: 4rem;
}

.left-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.left-panel h1 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.4;
}

.left-panel span {
    color: #335ee9;
}

.left-panel p {
    font-size: 1.1rem;
    color: #777c82;
    max-width: 70%;
}

.left-panel .buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.buttons a {
    background-color: #335ee9;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.buttons .bx {
    line-height: 0;
    font-size: 1.5rem;
}

.buttons .btn-1 {
    background-color: #cfd1d0;
    color: #505152;
}

.buttons .btn-1:hover {
    background-color: #335ee9;
    color: #fff;
    transition: all 0.3s;
}

.right-panel {
    width: 45%;
    display: flex;
    justify-content: center;
}

.right-panel img {
    max-width: 100%;
    height: auto;
}

.chat {
    background-color: #335ee9;
    max-width: 6rem;
    max-height: 3.7rem;
    border-radius: 50%;
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 10px;
    animation: pop-in 0.7s infinite alternate;

}

.chat a>img {
    width: 2.5rem;
    height: 2.5rem;

}

/* ------------------- Animation ------------------- */

@keyframes pop-in {
    from {

        transform: scale(0.9);
    }


    to {
        transform: scale(1);
    }
}

/* -------------------- Footer -------------------- */

.footer {
    background-color: #0f1624;
    color: white;
    padding: 4rem 4rem;
    padding-top: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.footer-column h4 {
    font-weight: 400;
    color: #9ea1a0;
}

.footer-column a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 200;
    color: #d9e2df;
}

.footer-column p {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 200;
    color: #d9e2df;
}

.newsletter input[type="email"] {
    width: 16rem;
    padding: 10px;
    border: none;
    font-size: 14px;
}

.newsletter button {
    padding: 11px 20px;
    background-color: #6c4efc;
    border: none;
    color: white;
    cursor: pointer;
}


.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EFFE;
    z-index: 1;
    margin: 0 8rem;
    padding: 5rem;
    border-radius: 20px;
    position: relative;
    bottom: -7rem;
}

.cta h1 {
    color: #4C38AE;
    font-weight: 400;
}

.cta h1 span {
    color: #9972F2;
}

.cta-btn button {
    background-color: #6c4efc;
    color: #fff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

/* -------------------- Media Queries -------------------- */

@media (min-width: 1024px) {
    .main {
        margin: 0 4rem;
    }

    .left-panel h1 {
        font-size: 2.2rem;
    }

    .content {
        gap: 3rem;
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width: 968px) {
    .main {
        margin: 0 3rem;
    }

    .left-panel h1 {
        font-size: 2rem;
    }

    .left-panel p {
        max-width: 100%;
    }

    .content {
        gap: 2rem;
        min-height: 50vh;
    }

    .buttons a {
        padding: 10px 20px;
        font-size: 0.8rem;
    }

    .menu-icon {
        display: none;
    }

    .footer {
        flex-direction: row;
        gap: 0.5rem;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: space-evenly;
    }

    .footer-column h4 {
        font-weight: 300;
    }

    .footer-column a {
        font-size: 0.6rem;
        font-weight: 200;
    }

    .footer-column p {
        font-size: 0.6rem;
        font-weight: 200;
    }

    .newsletter input[type="email"] {
        width: 10rem;
        padding: 6px;
        border: none;
        font-size: 12px;
    }

    .newsletter button {
        padding: 6px;
        background-color: #6c4efc;
        border: none;
        color: white;
        cursor: pointer;
    }


    .cta {
        padding: 2rem 2rem;
        bottom: -4rem;
        border-radius: 10px;
        width: 96%;
        margin: 0 1rem;
    }

    .cta h1 {
        color: #4C38AE;
        font-weight: 400;
        font-size: 2rem;
    }

    .cta-btn button {
        padding: 0.6rem 1.4rem;
        border-radius: 4px;
    }

}

@media (max-width: 768px) {
    .main {
        margin: 0 2rem;
    }

    .menu ul {
        display: none;
    }

    .content {
        flex-direction: column-reverse;
        text-align: center;
        min-height: auto;
        flex-wrap: nowrap;
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }

    .left-panel h1 {
        font-size: 2rem;
    }

    .left-panel p {
        max-width: 100%;
    }

    .buttons {
        justify-content: center;
    }

    .menu-icon {
        display: inline-block;
        font-size: 1.8rem;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
        padding-top: 8rem;

    }

    .cta {
        padding: 1.2rem 2.2rem;
        bottom: -3rem;
        border-radius: 10px;
        flex-direction: column;
        width: 90%;
        margin: 0 1rem;
        gap: 2rem;
    }

    .cta h1 {
        color: #4C38AE;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .cta-btn button {
        padding: 0.4rem 1rem;
        border-radius: 3px;
    }
}

@media (max-width: 480px) {
    .left-panel h1 {
        font-size: 1.8rem;
    }

    .left-panel p {
        max-width: 100%;
    }

    .buttons a {
        padding: 8px 15px;
        font-size: 0.8rem;
    }

    .logo a {
        font-size: 2rem;
    }

    .menu-icon {
        display: inline-block;
        font-size: 1.5rem;
    }

    .newsletter input[type="email"] {
        width: 10rem;
        padding: 10px;

    }

    .newsletter button {
        padding: 10px;

    }

    .newsletter input[type="email"] {
        width: 10rem;
        padding: 6px;
        border: none;
        font-size: 12px;
    }

    .newsletter button {
        padding: 6px;
        background-color: #6c4efc;
        border: none;
        color: white;
        cursor: pointer;
    }
}